
  .background-container {
    background-image: url('/assets/images/webphotos/bookstore.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    
    /* You can add more styling as needed */
  }