
  .background-container {
    background-image: url('/assets/images/webphotos/bookstore.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
    
    /* You can add more styling as needed */
  }

  /* Navigation */
.navbar-collapse {
  justify-content: flex-end;
}

/* Header */
header {
  text-align: center;
  padding: 50px 0;
}

/* Section */
section {
  padding: 50px 0;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px 0;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  /* Navigation */
  .navbar-collapse {
    justify-content: center;
  }

  /* Header */
  header {
    padding: 30px 0;
  }

  /* Section */
  section {
    padding: 30px 0;
  }

  /* Footer */
  footer {
    padding: 10px 0;
  }
}


 
