

<div class="containerfourofour">
<div class="four-z-four bg_color">
    <div class="four-z-top">
        <div class="four_z">
         <div class="four_z_three">
         </div>
        </div>         
    </div>
    <div class="four-zero-four" style="text-align: center;">	
            <div class="container" >
                <div class="row"> 
                    <div class="col-4">  
                    <h1>4</h1>
                    <h6 class="page">Page</h6>
                    </div>
                    <div class="col-4">
                    <h2> 0 </h2>
                    <h6 class="not">Not</h6>
                    </div>
                    <div class="col-4">
                    <h3> 4 </h3>
                   <h6 class="found">Found</h6>
                    </div>
                </div>
            </div>
            <a routerLink="/products" class="btn btn-link">Back to Home</a>
    </div>
</div>
</div>
